<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Customer</th>
      <th>Phone</th>
      <th>Orders</th>
      <th>Date delivery</th>
      <th>Total price</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.name_customer %></td>
      <td><%= order.phone %></td>
      <td><%= order.composition_orders %></td>
      <td><%= order.datetime_delivery %></td>
      <td><%= order.total_price %></td>
    </tr>
    <% end %>
  </tbody>
</table>