<h2>You are in cart</h2>
<p>Check your order and do pay:)</p>
<div class="bs-example" data-example-id="striped-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id product</th>
        <th>title</th>
        <th>size</th>
        <th>price for item</th>
        <th>count</th>
        <th>total by item</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr id="product_<%= product.id %>">
        <th scope="row"><%= product.id %></th>
        <td><%= product.title %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
        <td><%= @hash_orders[(product.id).to_s] %></td>
        <td><%= @hash_orders[(product.id).to_s].to_i * product.price %></td>
        <td>

            <input type='submit' class='btn btn-primary btn-sm' onclick='remove_from_cart(<%= product.id %>)' value='Remove'>
          </form>
        </td>
      </tr>
      <% end %>
      <tr class='info'>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total:</b></td>
        <td><%= @total_sum %></td>
        <td>
          <form action='/cart' method='post'>
            <input type = 'hidden' name='list_orders' id='orders_checkout'></input>
            <input type='submit' class='btn btn-success btn-md' onclick='checkout()' value='Order'></input>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>
</div>