<h2>Welcome to PizzaShop</h2>

<div class = "row">
  <% @products.each do |product| %>
  <div class = "col-md-3">
    <div><strong><%= product.title %></strong></div>
    <div><img src="<%= product.path_to_image %>" class="img-rounded" width="200" height="150"/></div>
    <div><p class="text-justify"><%= product.description %></p></div>
    <div><strong>Price: </strong><%= product.price %></div>
    <div><strong>Size: </strong><%= product.size %></div>
    <div>
      <button class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to cart!</button>
    </div>
  </div>
  <% end %> 
</div>